 html, body {
    text-align: center;
    font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
  }

  html,body,li,form,ul {
    padding: 0;
    margin: 0;
  }

  form {
    padding-bottom: 2%;
  }

  li {
    list-style: none;
    width: 100vw;
  }

  li:nth-child(odd) { 
    background: #eee; 
  }

input[type=text]:focus {
    padding: 16px 32px;
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #9aecf3;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}